# THERIAK
theriak.ini
theriak.last
THERIN
OUT

# uv
uv.lock

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# JSON
*.json

# VSCODE
*.code-workspace

#HDF5
*.hdf5
*.h5

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# pyenv
.python-version


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.DS_Store